<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.5.1">
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <connectionStrings>
    <add name="TimeTrackingEntities" connectionString="metadata=res://*/TimeTrackingAPI.Models.TTModel.csdl|res://*/TimeTrackingAPI.Models.TTModel.ssdl|res://*/TimeTrackingAPI.Models.TTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLSERVER2008R2;initial catalog=TimeTracking;user id=sa;password=mehul;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>