<div>
    <form name="changepasswordForm" ng-controller="changepasswordcontroller">
        <ion-view title="Change password">
            <div class="bar bar-header bar-stable">
                <div class="button-bar">
                    <button class="button button-positive" ng-click="changepasswordForm.$valid && ChangePassword()">Done</button>
                    <button class="button button-positive" ng-click="Cancel()">Cancel</button>                   
                </div>
            </div>
            <ion-content class="has-header padding">
                <div class="list">
                    <div class="item item-divider">
                        Change Password
                    </div>
                    <br />
                    *<span>Account Name</span>
                    <label class="item item-input item-stacked-label">
                        {{LoggedInUser.Email}}
                    </label>
                    <br />
                    *<span>Original Password</span>
                    <label class="item item-input item-stacked-label">
                        <input type="password" placeholder="Original Password" ng-model="ChangeTTUserPassword.OriginalPassword" required>
                    </label>
                    <br />
                    *<span>New Password</span>
                    <label class="item item-input item-stacked-label">
                        <input type="password" placeholder="New Password" ng-model="ChangeTTUserPassword.NewPassword" required>
                    </label>
                    <br />
                    *<span>Confirm Password</span>
                    <label class="item item-input item-stacked-label">
                        <input type="password" placeholder="Confirm Password" ng-model="ChangeTTUserPassword.ConfirmPassword" required>
                    </label>
                    <br />
                </div>
            </ion-content>
        </ion-view>
    </form>
</div>