<form name="forgetpasswordForm" ng-controller="forgetpasswordcontroller">
    <ion-view title="Forget Password">
        <div class="bar bar-header bar-stable">
            <div class="button-bar">                
                <button class="button button-positive" ng-click="forgetpasswordForm.$valid && SendForgetPasswordEmail(User.fldUserEmail)">Ok</button>
                <button class="button button-positive" ng-click="Cancel()">Cancel</button>
            </div>
        </div>
        <ion-content class="has-header padding">
            <div class="list">
                <div class="item item-divider">
                    Forget Password
                </div>
                <br />
                *<span>Account Name</span>
                <label class="item item-input item-stacked-label">
                    <input type="email" placeholder="Email" ng-model="User.fldUserEmail" required>
                </label>
            </div>
        </ion-content>
    </ion-view>
</form>